.container{
    width: 1024px;
    display: grid;
    grid-template-columns: repeat(8, 90px);
    grid-template-rows: repeat(8, 90px);
    
}

.white{
    background-color: aliceblue;
}
.black{
    background-color:#1f3549 ;   
 
}
.box{
    
    width: 85px;
    height: 85px;
    border: solid 1px black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    

}
.box img{
    fill: aliceblue;
    width: 75px;
    height: 70px;
    object-fit: fill;
    z-index: 2;
}